## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf
from sklearn.compose import ColumnTransformer
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()> 1

CLASSIFICATION
C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
         ...
C4120    False
C8210    False
C2561    False
C4500    False
C2150    False
Name: count, Length: 71, dtype: bool

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# # Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer - Adjust the input_dim to match the number of features in X_train_scaled
# Upped units to 120, only brought accurcy up to 0.73
nn_model.add(tf.keras.layers.Dense(units=110, activation="relu", input_dim=X_train_scaled.shape[1])) # input_dim is now dynamic

# Second hidden layer
# Increasing to 50
nn_model.add(tf.keras.layers.Dense(units=50, activation="relu"))

# Adding third hidden layer - brought accuracy down to 0.72
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_22 (Dense)                     │ (None, 110)                 │           4,950 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_23 (Dense)                     │ (None, 50)                  │           5,550 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_24 (Dense)                     │ (None, 30)                  │           1,530 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_25 (Dense)                     │ (None, 1)                   │              31 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 12,061 (47.11 KB)

 Trainable params: 12,061 (47.11 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
# Upped epochs to 150, brought accuracy down. Adding validation split to prevent overfitting
# Brought epochs down to 80 - accuracy is starting to plateau at 0.72
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=80, validation_split=0.2)

Epoch 1/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7084 - loss: 0.5877 - val_accuracy: 0.7328 - val_loss: 0.5534
Epoch 2/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7251 - loss: 0.5577 - val_accuracy: 0.7359 - val_loss: 0.5469
Epoch 3/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7284 - loss: 0.5511 - val_accuracy: 0.7347 - val_loss: 0.5512
Epoch 4/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7324 - loss: 0.5473 - val_accuracy: 0.7380 - val_loss: 0.5496
Epoch 5/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7325 - loss: 0.5476 - val_accuracy: 0.7390 - val_loss: 0.5497
Epoch 6/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7291 - loss: 0.5523 - val_accuracy: 0.7376 - val_loss: 0.5496
Epoch 7/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7279 - loss: 0.5517 - val_accuracy: 0.7324 - val_loss: 0.5575
Epoch 8/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7345 - loss: 0.5450 - val_accuracy: 0.7378 - val_loss: 0.5505
Epoch 9/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7338 - loss: 0.5446 - val_accuracy: 0.7347 - val_loss: 0.5515
Epoch 10/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7325 - loss: 0.5450 - val_accuracy: 0.7378 - val_loss: 0.5488
Epoch 11/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7320 - loss: 0.5459 - val_accuracy: 0.7384 - val_loss: 0.5468
Epoch 12/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7306 - loss: 0.5456 - val_accuracy: 0.7378 - val_loss: 0.5472
Epoch 13/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7360 - loss: 0.5446 - val_accuracy: 0.7347 - val_loss: 0.5568
Epoch 14/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7346 - loss: 0.5425 - val_accuracy: 0.7355 - val_loss: 0.5452
Epoch 15/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7366 - loss: 0.5401 - val_accuracy: 0.7368 - val_loss: 0.5480
Epoch 16/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7380 - loss: 0.5406 - val_accuracy: 0.7357 - val_loss: 0.5538
Epoch 17/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7348 - loss: 0.5437 - val_accuracy: 0.7382 - val_loss: 0.5466
Epoch 18/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7381 - loss: 0.5381 - val_accuracy: 0.7364 - val_loss: 0.5454
Epoch 19/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7413 - loss: 0.5352 - val_accuracy: 0.7355 - val_loss: 0.5496
Epoch 20/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7343 - loss: 0.5439 - val_accuracy: 0.7318 - val_loss: 0.5547
Epoch 21/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7342 - loss: 0.5455 - val_accuracy: 0.7357 - val_loss: 0.5531
Epoch 22/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7341 - loss: 0.5406 - val_accuracy: 0.7357 - val_loss: 0.5521
Epoch 23/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7335 - loss: 0.5448 - val_accuracy: 0.7366 - val_loss: 0.5544
Epoch 24/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7408 - loss: 0.5349 - val_accuracy: 0.7372 - val_loss: 0.5521
Epoch 25/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7410 - loss: 0.5364 - val_accuracy: 0.7366 - val_loss: 0.5530
Epoch 26/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7394 - loss: 0.5374 - val_accuracy: 0.7359 - val_loss: 0.5533
Epoch 27/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7398 - loss: 0.5347 - val_accuracy: 0.7372 - val_loss: 0.5513
Epoch 28/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7434 - loss: 0.5343 - val_accuracy: 0.7366 - val_loss: 0.5529
Epoch 29/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7384 - loss: 0.5378 - val_accuracy: 0.7337 - val_loss: 0.5575
Epoch 30/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7352 - loss: 0.5415 - val_accuracy: 0.7362 - val_loss: 0.5513
Epoch 31/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7328 - loss: 0.5434 - val_accuracy: 0.7333 - val_loss: 0.5516
Epoch 32/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7382 - loss: 0.5373 - val_accuracy: 0.7355 - val_loss: 0.5548
Epoch 33/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7403 - loss: 0.5381 - val_accuracy: 0.7366 - val_loss: 0.5539
Epoch 34/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7386 - loss: 0.5329 - val_accuracy: 0.7357 - val_loss: 0.5582
Epoch 35/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7385 - loss: 0.5349 - val_accuracy: 0.7364 - val_loss: 0.5561
Epoch 36/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7378 - loss: 0.5362 - val_accuracy: 0.7347 - val_loss: 0.5588
Epoch 37/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7348 - loss: 0.5403 - val_accuracy: 0.7357 - val_loss: 0.5578
Epoch 38/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7408 - loss: 0.5345 - val_accuracy: 0.7312 - val_loss: 0.5606
Epoch 39/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7418 - loss: 0.5322 - val_accuracy: 0.7355 - val_loss: 0.5586
Epoch 40/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7408 - loss: 0.5366 - val_accuracy: 0.7368 - val_loss: 0.5623
Epoch 41/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7415 - loss: 0.5340 - val_accuracy: 0.7328 - val_loss: 0.5560
Epoch 42/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7382 - loss: 0.5358 - val_accuracy: 0.7322 - val_loss: 0.5575
Epoch 43/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7360 - loss: 0.5369 - val_accuracy: 0.7351 - val_loss: 0.5588
Epoch 44/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7409 - loss: 0.5342 - val_accuracy: 0.7355 - val_loss: 0.5586
Epoch 45/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7385 - loss: 0.5344 - val_accuracy: 0.7372 - val_loss: 0.5636
Epoch 46/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7358 - loss: 0.5396 - val_accuracy: 0.7366 - val_loss: 0.5577
Epoch 47/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7346 - loss: 0.5391 - val_accuracy: 0.7355 - val_loss: 0.5637
Epoch 48/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7385 - loss: 0.5345 - val_accuracy: 0.7357 - val_loss: 0.5561
Epoch 49/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7323 - loss: 0.5405 - val_accuracy: 0.7372 - val_loss: 0.5616
Epoch 50/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7424 - loss: 0.5319 - val_accuracy: 0.7349 - val_loss: 0.5561
Epoch 51/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7410 - loss: 0.5333 - val_accuracy: 0.7370 - val_loss: 0.5615
Epoch 52/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7361 - loss: 0.5384 - val_accuracy: 0.7364 - val_loss: 0.5542
Epoch 53/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7409 - loss: 0.5311 - val_accuracy: 0.7362 - val_loss: 0.5588
Epoch 54/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7395 - loss: 0.5348 - val_accuracy: 0.7359 - val_loss: 0.5580
Epoch 55/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7348 - loss: 0.5380 - val_accuracy: 0.7361 - val_loss: 0.5676
Epoch 56/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7342 - loss: 0.5411 - val_accuracy: 0.7362 - val_loss: 0.5599
Epoch 57/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7346 - loss: 0.5403 - val_accuracy: 0.7357 - val_loss: 0.5663
Epoch 58/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7393 - loss: 0.5324 - val_accuracy: 0.7359 - val_loss: 0.5642
Epoch 59/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7402 - loss: 0.5356 - val_accuracy: 0.7353 - val_loss: 0.5708
Epoch 60/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7388 - loss: 0.5322 - val_accuracy: 0.7343 - val_loss: 0.5804
Epoch 61/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7427 - loss: 0.5299 - val_accuracy: 0.7376 - val_loss: 0.5682
Epoch 62/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7460 - loss: 0.5305 - val_accuracy: 0.7370 - val_loss: 0.5674
Epoch 63/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7381 - loss: 0.5333 - val_accuracy: 0.7366 - val_loss: 0.5634
Epoch 64/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7437 - loss: 0.5297 - val_accuracy: 0.7361 - val_loss: 0.5631
Epoch 65/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7430 - loss: 0.5334 - val_accuracy: 0.7349 - val_loss: 0.5617
Epoch 66/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7408 - loss: 0.5331 - val_accuracy: 0.7353 - val_loss: 0.5684
Epoch 67/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7383 - loss: 0.5345 - val_accuracy: 0.7366 - val_loss: 0.5742
Epoch 68/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7439 - loss: 0.5316 - val_accuracy: 0.7364 - val_loss: 0.5627
Epoch 69/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7428 - loss: 0.5276 - val_accuracy: 0.7366 - val_loss: 0.5688
Epoch 70/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7416 - loss: 0.5338 - val_accuracy: 0.7333 - val_loss: 0.5782
Epoch 71/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7377 - loss: 0.5335 - val_accuracy: 0.7359 - val_loss: 0.5746
Epoch 72/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7414 - loss: 0.5339 - val_accuracy: 0.7362 - val_loss: 0.5744
Epoch 73/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7430 - loss: 0.5311 - val_accuracy: 0.7361 - val_loss: 0.5706
Epoch 74/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7367 - loss: 0.5315 - val_accuracy: 0.7368 - val_loss: 0.5716
Epoch 75/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7354 - loss: 0.5380 - val_accuracy: 0.7362 - val_loss: 0.5757
Epoch 76/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7398 - loss: 0.5305 - val_accuracy: 0.7368 - val_loss: 0.5716
Epoch 77/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7384 - loss: 0.5359 - val_accuracy: 0.7366 - val_loss: 0.5811
Epoch 78/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.7354 - loss: 0.5344 - val_accuracy: 0.7368 - val_loss: 0.5712
Epoch 79/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7378 - loss: 0.5376 - val_accuracy: 0.7370 - val_loss: 0.5860
Epoch 80/80
644/644 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7425 - loss: 0.5316 - val_accuracy: 0.7372 - val_loss: 0.5715

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7279 - loss: 0.5689
Loss: 0.5689395070075989, Accuracy: 0.7279300093650818

In [ ]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.